@import url("https://fonts.googleapis.com/css?family=Montserrat:300,regular,500,600,700,800");

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-family: "Montserrat";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Montserrat";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-size: 14px;
  font-family: Montserrat;
}

._no-webp .header{
  background-image: url("../img/background.png"); }

.header__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  height: 61px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__relvise {
  font-weight: bold;
  font-size: 24px;
}

.header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__ul li {
  margin-left: 21px;
}

.header__ul li a {
  color: #fff;
}

.header__more {
  margin-left: 95%;
  position: relative;
  top: -20px;
}

.footer {
  background: #252B42;
  padding: 20px 0px;
}

.footer__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__text {
  font-weight: 600;
  color: #fff;
  padding: 10px 0px;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-footer__img {
  margin: 0px 20px;
}

.conteiner {
  max-width: 1065px;
  padding: 0px 15px;
  margin: 0px auto;
}

._no-webp .finance{
  background-image: url("../img/background.png"); }

.finance {
  background-repeat: no-repeat;
  background-position: 0px -71px;
  background-color: #252B42;
}

.finance__conteiner {
  height: 863px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.finance__content {
  margin-top: 50px;
  max-width: 400px;
  height: 354px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.finance__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-finance__title {
  font-size: 58px;
  line-height: 80px;
  color: white;
  font-weight: 800;
}

.content-finance__text {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  color: #fff;
}

.content-finance__bottoms {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.content-finance__get {
  padding: 10px 36px;
  border-radius: 37px;
  border: 1px solid #fff;
  margin-right: 10px;
}

.content-finance__get:hover {
  background-color: #FF7B47;
}

.content-finance__get a {
  color: white;
  font-size: 14px;
  font-weight: 700;
}

.content-finance__more {
  padding: 10px 36px;
  border-radius: 37px;
  border: 1px solid #fff;
}

.content-finance__more a {
  color: white;
  font-size: 14px;
  font-weight: 700;
}

.content-finance__more:hover {
  background-color: #FF7B47;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  color: white;
  text-align: center;
}

.text {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #fff;
  text-align: center;
}

.row-finance__content {
  width: 328px;
  height: 242px;
  background-color: #fff;
  padding: 40px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.row-finance__content:last-child {
  background-color: #0D5C63;
  color: white;
}

.row-finance__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}

.row-finance__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.every {
  background-color: #252B42;
}

.every__conteiner {
  height: 526px;
  padding: 80px 0px;
}

.every__content {
  margin-bottom: 50px;
}

.every__title {
  margin-bottom: 10px;
}

.every__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row-every__block {
  width: 230px;
  height: 209px;
  background-color: #fff;
  padding: 30px 0px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row-every__cifres {
  font-size: 40px;
  font-weight: 700;
}

.row-every__clar {
  color: #737373;
  font-size: 16px;
  font-weight: 700;
}

.practice {
  background: #252B42;
}

.practice__conteiner {
  padding: 80px 0px;
}

.practice__content {
  padding-bottom: 45px;
}

.practice__title {
  margin-bottom: 10px;
}

.practice__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.practice__block {
  background-color: #fff;
  width: 230px;
}

.practice__block:nth-child(3) {
  height: 321px;
}

.practice__block:last-child {
  height: 321px;
}

.block-practice__title {
  padding: 30px 30px 15px 30px;
  line-height: 24px;
  font-weight: 700;
  font-size: 16px;
}

.block-practice__text {
  padding: 0px 30px 30px 30px;
  line-height: 20px;
  color: #737373;
}

.who {
  background: #252B42;
}

.who__conteiner {
  padding: 100px 0px;
}

.who__content {
  padding-bottom: 100px;
}

.who__title {
  padding-bottom: 15px;
}

.who__trusted {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.trusted-who__content {
  padding-left: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.trusted-who__title {
  text-align: start;
  padding-top: 33px;
}

.trusted-who__text {
  text-align: start;
}

.clarifications-trusted-who {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clarifications-trusted-who__content {
  margin-left: 20px;
  color: #fff;
}

.clarifications-trusted-who__text {
  line-height: 24px;
  font-size: 16px;
  font-weight: 700;
}

.brands {
  background: #252B42;
}

.brands__conteiner {
  padding: 58px 0px;
}

.brands__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.brands__name {
  max-width: 150px;
  text-align: center;
}

.subscribe {
  background: #252B42;
}

.subscribe__conteiner {
  padding: 20px 32px;
}

.subscribe__form {
  background-color: #17213C;
  height: 124px;
}

.subscribe__label {
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  font-weight: 700;
  margin-right: 350px;
  position: relative;
  top: 30px;
  left: 50px;
}

.subscribe__input {
  width: 333px;
  height: 58px;
  padding: 15px 20px;
}

.subscribe__button {
  width: 115px;
  height: 58px;
  background: #FF7B47;
  border: 1px solid #E6E6E6;
  color: #fff;
  margin-left: -10px;
}

.get {
  background: #252B42;
}

.get__conteiner {
  height: 740px;
  padding: 80px 0px;
}

.get__title {
  padding-bottom: 10px;
}

.get__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 35px;
}

.get__block {
  width: 33.33%;
  background-color: #fff;
  padding: 50px 0px;
  text-align: center;
  height: 333px;
}

.get__block:hover {
  background: #0D5C63;
  height: 393px;
  color: #fff;
  padding: 80px 0px;
}

.block-get__img {
  margin-bottom: 17px;
}

.block-get__mail {
  margin-bottom: 17px;
  line-height: 24px;
}

.block-get__text {
  margin-bottom: 17px;
  font-weight: 700;
  font-size: 16px;
}

.block-get__button {
  padding: 10px 20px;
  color: #FF7B47;
  border: 1px solid #FF7B47;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 5px;
}

.consulting {
  background: #252B42;
}

.consulting__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 40px 0px;
}

.consulting__title {
  font-size: 24px;
}

.consulting__text {
  text-align: start;
}

.consulting__button a {
  background: #FF7B47;
  border-radius: 5px;
  font-weight: 700;
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 15px 40px;
  line-height: 28px;
}

.info {
  background: #17213C;
}

.info__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  padding: 50px 0px;
}

.column-info__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 45px;
}

.column-info__ul img {
  margin-right: 10px;
}

.column-info__ul li {
  padding: 10px 0px;
}

.column-info__ul a {
  color: #fff;
}

.column-info__ul a:hover {
  color: #FF7B47;
}

.column-info__link {
  position: relative;
  top: 5px;
}

._webp .header{ background-image: url(../img/background.webp); }

._webp .finance{ background-image: url(../img/background.webp); }